body{
    background-color: lightgray;
}


.textoPrincipal{   
    text-align: center;
    margin: 20px;
}

.tablero{
    display: block;
    height: 250px;
    background-color: darkgray;

}

.X{
    color: darkorange;
    font-size: 60px;
    font-weight: bold;
    cursor: grab;
    background-color: dimgray;
    padding: 0px 21px;
}

.O{
    color: deepskyblue;
    font-size: 60px;
    font-weight: bold;
    cursor: grab;
    background-color: dimgray;
    padding: 0px 21px;
}

.zJuego{
    
    height: 400px;
    width: 600px;
}

.equisYcirculo{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.turno{
    color: lightgray;
    font-size: 70px;
    cursor: pointer;
}

.turno:hover{
    background-color: gray;
    transition: 300ms;
}